requests==2.31.0
re
socket
whois==0.9.26
beautifulsoup4==4.12.2
termcolor==2.3.0
ipwhois==1.2.0
json
fake-useragent==1.2.0
time
http.client
argparse
sys
urllib3==1.26.16
cryptography==41.0.3
rich==13.5.2
ssl
xml
concurrent.futures
os
dns-lexicon==3.11.6
fpdf==1.7.2
art==5.9
colorama==0.4.6
